@import "initial.css";


/* root */
:root {
  --main-color: #ffb300;
  --sub-color: #e90000;
  --bg-color: #f2f2f2;
}
/*######### layout ###########*/
.wrap {
  max-width: 1320px;
  padding: 0 10px;
  margin: 0 auto;
}
section {
  padding: 5rem 0;
}
/* body */
body {
  background: #f2f2f2;
}
/* common */
.section-title h2 {
  margin-bottom: 5rem;
}
/*######### header ########*/
#header {
  background: var(--main-color);
  height: 5rem;
  font-family: 'kodak';
}
.header-inner {
  height: inherit;
  overflow: hidden;
}
.logo-box {
  float: left;
  height: 4rem;
  padding-top: 0.5rem
}
.logo-box img {
  display: block;
  height: 100%;
}
/* login box */
.login-box {
  float: right;
}
.login-box ul {
  overflow: hidden;
}
.login-box ul li {
  float: left;
  text-transform: uppercase;
}
.login-box ul li a {
  display: block;
  padding-left: 2rem;
  height: inherit;
  line-height: 5rem;

}
/* gnb */
#gnb {
  background: var(--main-color);
  font-family: 'kodak';
  height: 5rem;
}
.gnb-inner {
  height: inherit;
}
#gnb ul {
  overflow: hidden;
}
#gnb ul li {
  float: left;
}
#gnb ul li a {
  display: block;
  height: 5rem;
  line-height: 5rem;
  padding: 0 2rem;
  text-transform: uppercase;
}
/* main-banner */
.main-banner-header {
  overflow: hidden;
}
.main-banner-header > div {
  float: left;
  width: 50%;
}
.header-left,
.header-right {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2rem
}
/* left */
.header-title {
  overflow: hidden;
}
.header-title h2 {
  position: relative;
  padding-left: 5rem;
  font-size: 4.0rem;
}
.header-title h2::before {
  position: absolute;
  left: 0;
  top: 1rem;
  content: '\f111';
  font-weight: 900;
  font-family: 'Font Awesome 5 free';
}
.header-left span {
  font-size: 1.4rem;
}
.header-left span:after {
  content: '';
  vertical-align: middle;
  display: inline-block;
  width: 30%;
  height: 2px;
  background: #000;
}
.header-left a {
  font-size: 1.4rem;
}
.header-right a {
  font-size: 1.6rem;
}
.btn-next {
  display: inline-block;
  width: 3.5rem;
  height: 3.5rem;
  border: 1px solid black;
  border-radius: 50%;
  line-height: 3.5rem;
  text-align: center;
}
/* right */
.header-right {
  position: relative;
  text-align: center;
}
.header-right h2 {
  position: absolute;
  bottom: -2rem;
  right: -2rem;
  align-self: flex-end;
  font-size: 18.0rem;
  color: #ffffff;
}
.header-right span {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 2.8rem;
  text-transform: uppercase;
}
.header-right span::before {
  font-size: 1.4rem;
  content: '\f111';
  font-weight: 900;
  font-family: 'Font Awesome 5 free';
  padding-right: 1rem;
  vertical-align: middle;
}
/* slide */
.main-banner-slide {
  border: 1px solid red;
  height: 580px;
}
/* ############ section: about ############ */
#about{}
.section-title h2 {
  text-align: center;
  font-size: 3.2rem;
}
.about-inner .contents {
  overflow: hidden;
}
.about-inner .contents > div {
  float: left;
  width: 50%;
}
.about-footer img {
  width: 100%;
  mix-blend-mode: multiply;
}
/* ########### section: best item ############## */
#best-item {
  text-align: center;
}
#best-item input {
  display: none;
}
/* tab label */
.tab-box {
  margin: 5rem 0;
}
.tab-box label {
  display: inline-block;
  width: 10rem;
  height: 4rem;
  line-height: 4rem;
  border-radius: 4rem;
  cursor: pointer;
  color: black;
  background: var(--main-color);
  font-weight: 800;
  margin: 0.5rem;
}
.tab-box label:hover {
  background: #000;
  color: var(--main-color);
}
.item-container {
}
.item-tab {
  overflow: hidden;
}
/* item */
.item-tab .item {
  position: relative;
  float: left;
  margin: 0 1rem;
  width: calc( 25% - 2rem);
  padding: 2rem;
  border: 1px solid black;
}
.item-img img{
  width: 100%;
  height: 100%;
}
.item-text {
  text-align: left;
}
.item-text ul {
  overflow: hidden;
}
.item-text li {
  float: left;
  width: 50%;
  padding: .5rem 0;
}
.item-text li:first-child {
  width: 100%;
}
.item-text li:last-child {
  text-align: right;
}
.item-icon {
  position: absolute;
  right: 2rem;
  top: 2rem;
}
/* secton sns*/
#sns {
  text-align: center;
}
.sns-container {
  overflow: hidden;
}
.sns-container > div {
  float: left;
  margin: 2rem;
  width: calc( 25% - 4rem );
}
/* sns-item frist */
.sns-addmenu {
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  transform: rotate(5deg)
}
.sns-addmenu p {
  margin: 2rem 0;
  font-size: 2rem;
  font-family: 'kodak';
  letter-spacing: .4rem;
}
/* sns-item */
.sns-item {
  position: relative;
}
.sns-item:nth-of-type(2) {
  transform: rotate(-3deg) translateY(2rem);
}
.sns-item img {
  width: 100%;
  display: block;
  object-fit: cover;
}
.sns-item-text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20%;
  border-radius: 50% 50% 0 0 / 80% 80% 0 0 ;
  background: rgba(0,0,0,0.5);
  padding: 5rem;
  color: #fff;
}
/* sns item text 동작처리 */